<!DOCTYPE html>
<html lang="ar">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Track - هتلاقى العناية المركزة القريبة منك بسهولة</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Tajawal:400,700&amp;amp;subset=arabic?v=1.0.1" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css?v=1.0.1" rel="stylesheet">
<link href="css/bootstrap.minf700.css?v=1.0.1" rel="stylesheet">
<link href="css/owl.carousel.minf700.css?v=1.0.1" rel="stylesheet">
<link href="css/owl.theme.default.minf700.css?v=1.0.1" rel="stylesheet">
<link href="css/index_stylef700.css?v=1.0.1" rel="stylesheet">
<link href="css/stylef700.css?v=1.0.1" rel="stylesheet">
<link href="css/responsivef700.css?v=1.0.1" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<script>var localized ={"language":"ar","base_url":"https:\/\/youspital.com"};</script>    <meta name="csrf-param" content="_frontendCSRF">
<meta name="csrf-token" content="-Px5OmHM3iUatwSnwLALsc6SOC938EqmV7zbZrjveEuhighyTIuPSS6PNJ6QwWLl9tNWGgLBDJYvifYOz4IAfA==">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <meta property="og:image" content="https://youspital.com/img/BG.png" />
        
            <!-- Global site tag (gtag.js) - Google Ads: 722677826 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140174070-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-140174070-1');
        </script>
        <!-- Hotjar Tracking Code for www.youspital.com -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1477815,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </head>
    <body data-offline="الموقع مغلق حاليا..">
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  '../connect.facebook.net/en_US/fbevents.js');
   fbq('init', '1459368084188016'); 
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1" 
  src="../www.facebook.com/trfc82.gif?id=1459368084188016&amp;ev=PageView%20%20&amp;noscript=1"/>
  </noscript>
  
    
  
<div id="vue_area" data-token="" data-ip="197.33.172.49">

    <!-- use this to hide the page undelaying .Pageoverlay--is-open  -->
    <div class="Pageoverlay"></div>
    
    <!-- Loader -->
    <div class="Screen-shadow-layer" :class="{'is-visible': loading}" v-cloak>
        <div class="Screen-loading" :class="{'is-visible': loading}">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
    </div>
    <!-- End Loader -->
    
    
<div class="Header">
    <div class="container Header__container">
        <div class="Header__logo">
            <a href="index.html">
                <img class="Header__logo__img" src="img/logo_rtl.svg" alt="/"></img>
            </a>
        </div>

        <div class="Header__button">
            <a href="" class="Header__button__link">
               <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </div>
    </div><!--end of container-->
</div><!--end of header-->
    
<!--  SlideMenu--is-open -->
<div class="SlideMenu">
    <div class="SlideMenu__inner">
        
        <div class="SlideMenu__content">
            
            <div class="SlideMenu__close">
                <a href="#" class="SlideMenu__close__link">
                    <i class="fa fa-times"></i>
                    <span class="SlideMenu__close__label">
                        اغلاق القائمه
                    </span>
                </a>
            </div>


            <ul class="SlideMenu__list">

                
                    <li class="SlideMenu__list__item">
                        <a href="user/sign-in/login.html" class="">
                            <i class="fas fa-user"></i> 
                            تسجيل دخول 
                        </a>
                    </li>

                
                

                <li class="SlideMenu__list__item">
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                        الرئيسيه
                    </a>
                </li>

                <li class="SlideMenu__list__item">
                    <a href="page/about.html">
                        <i class="fa fa-book"></i>
                        من نحن
                    </a>
                </li>

                <li class="SlideMenu__list__item">
                    <a href="site/contact.html">
                        <i class="fa fa-phone"></i>
                        اتصل بنا
                    </a>
                </li>

            </ul><!--end of list-->
        </div>
    </div>
</div><!--end of slide menu-->    


    <!-- Start Home -->
    <section id="home">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: none;">
            <div class="container">
                <div class="logo">
                    <a href="index.html">
                        <img src="img/logo_rtl.svg">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
                                                            <a href="user/sign-in/login.html" class="logsign">
                                    <i class="fas fa-user"></i> 
                                    تسجيل دخول 
                                </a>
                                                    </li>
                        <li>
                                                            <!-- <a href="#">English</a> -->
                                                    </li>
                    </ul>
                </div>
            </div>
        </nav>
                    <div class="slide">
                <div class="coption">
                    <h1>هتلاقى العناية المركزة القريبة منك بسهولة<br>أنقذ حياة!</h1>
                    <div class="form-area" data-serviceerror="اختر الخدمة" data-cityerror="اختر المدينة">
                        <p>اختر الخدمة والمنطقة للحصول ع اقرب عناية مركزة</p>
                        <div class="search-buttons">
                            <div class="button button-service">
                                <i class="fa fa-microscope"></i>
                                <v-select @change="getCities" label="name" lang="ar" dir="rtl" v-model="selected_service" :options="services" :searchable="false" placeholder="اختر الخدمة"></v-select>
                                <div class="loading" v-if="service_loading">
                                    <i class="fa fa-spinner"></i>
                                </div>
                            </div>
                            <div class="button button-city">
                                <i class="fa fa-map-marker-alt"></i>
                                <v-select @change="getAreas" label="name" lang="ar" dir="rtl" v-model="selected_city" :options="cities" :searchable="false" placeholder="اختر المدينة">
                                    <span slot="no-options">اختر الخدمة اولا</span>
                                </v-select>
                                <div class="loading" v-if="city_loading">
                                    <i class="fa fa-spinner"></i>
                                </div>
                            </div>
                            <div class="button button-area">
                                <i class="fa fa-map-marker-alt"></i>
                                <v-select label="name" lang="ar" dir="rtl" v-model="selected_area" :options="areas" :searchable="false" placeholder="اختر الحي">
                                    <span slot="no-options">اختر المدينة اولا</span>
                                </v-select>
                                <div class="loading" v-if="area_loading">
                                    <i class="fa fa-spinner"></i>
                                </div>
                            </div>
                            <div class="button-results">
                                <button type="submit" @click="viewResults">عرض</button>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="down-to-packages">
                        <i class="fas fa-angle-double-down" style="font-size: 48px;"></i>
                        باقات التحاليل
                    </a>
                </div>
            </div>
        <notifications group="search" position="top center"></notifications>
            </section>
    <!-- End Home -->

    
<div class="container">

    
</div>


<!-- Start Services -->
<section id="services">
    <h2>طريقة الاستخدام</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="use">
                    <img src="img/Search.png">
                    <h3>اختر نوع الخدمة</h3>
                    <p>اختار نوع الخدمة الطبية المطلوبة بالاضافة للمحافظة والمنطقة</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="use active">
                    <img src="img/Group%204.png">
                    <h3>اختر الخدمات</h3>
                    <p>اختر الخدمات المطلوبة</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="use">
                    <img src="img/Fill%2091.png">
                    <h3>قارن واختار</h3>
                    <p>علي حسب السعر والتقييم يمكنك اختيار الجهات الطبية التي تريد عمل الاجراءات المطلوبة فيها</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="use">
                    <img src="img/Group%204.png">
                    <h3>احجز عناية مركزة بسرعه</h3>
                    <p>اكمل الحجز بإختيار العناية المركزة المناسب لك والدفع</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->
<!-- Start Packages -->
<section id="packages">
    <h2>الباقات</h2>
    <div class="container">
        <div class="package-type">
            <button data-toggle="individuals" class="active">الافراد</button>
            <button data-toggle="corporates">الشركات</button>
        </div>
        <div class="packages-list">
            <div class="individuals active">
                <div class="owl-carousel owl-carousel-packages owl-carousel-packages-ind owl-theme">
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/JrEmvyHv3P6PyNyG3bcvzA9MsLVwtwQA_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/detailsd708.html?id=3"> فحوصات الطفل </a></h2>
                                <div class="details">كثير من الامهات بتتعامل بخبرتها مع مرض طفلها بدون
استشارة طبية أو عمل ...</div>
                                <a href="packages/detailsd708.html?id=3" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/Lk08gszFvPdhT_mCK1vaKsG_EuiYLTNe_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/detailsdcfd.html?id=4">فحوصات الأم و الجنين أثناء الحمل (متقدم) </a></h2>
                                <div class="details">مبروك أنتى حامل !!  كلمات تأمل كل نساء العالم سماعها وتنتظر ...</div>
                                <a href="packages/detailsdcfd.html?id=4" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/50TUfCa4XFDuC4u5lcnROzwF9SDSdzGZ_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/detailsd61c.html?id=5">تحاليل الكوليسترول </a></h2>
                                <div class="details">هل تعلم ما هو الكوليسترول؟هو مادة شمعية شبيهة بالدهن ينتجها الكبد وتقوم ...</div>
                                <a href="packages/detailsd61c.html?id=5" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/QP3I3EjN89VVMjYPmUnUzciqgmpz86Kp_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/details3a9f.html?id=6"> فحوصات تأخر الإنجاب (للرجال)</a></h2>
                                <div class="details">إن تأخر الحمل هو من المشاكل المؤرقة التي تواجه الزوجين بعد الزواج ...</div>
                                <a href="packages/details3a9f.html?id=6" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/p3sr1zwXyKLUbjSSLY5n0hiKVJrqp7ey_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/detailsc3c9.html?id=8"> فحوصات القلب</a></h2>
                                <div class="details">تعد أمرض شرايين القلب التاجية من أكثر الأمراض شيوعاً في العالم. و ...</div>
                                <a href="packages/detailsc3c9.html?id=8" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/DI2l84aRZt2SoDKYoRjl1n8BYq9EDbT2_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/details5255.html?id=9"> فحوصات آلام المفاصل و العظام (متقدم)</a></h2>
                                <div class="details">أمراض المفاصل و العظامالام المفاصل والعظام الروماتيزمية هى احد الامراض المزمنه التي ...</div>
                                <a href="packages/details5255.html?id=9" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                    </div>
            </div>
            <div class="corporates">
                <div class="owl-carousel owl-carousel-packages owl-carousel-packages-corp owl-theme">
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/t-5AE90GK8zEml1izFhfAhX6SuNaypZX_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/details2728.html?id=16">إستبيان الامراض المزمنة</a></h2>
                                <div class="details">       صوره   دم كامل ...</div>
                                <a href="packages/details2728.html?id=16" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/O9Jh-H63QS2S8PnjVSf1nR3Ws6z_KUzv_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/details190a.html?id=17">القائمين بالعمل فى المنتجات الغذائية</a></h2>
                                <div class="details">       تحليل   بول كامل ...</div>
                                <a href="packages/details190a.html?id=17" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/m6of_Vp1jBOid014M5MwePtvAgBaFcdK_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/detailse371.html?id=18">ما قبل دخول المدارس</a></h2>
                                <div class="details">        صوره   دم ...</div>
                                <a href="packages/detailse371.html?id=18" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/4r60fOyE-e9BSWjZ6ESe-4wWQetgKo7B_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/detailsa9bc.html?id=19">تحاليل خاصة بالسائقين  </a></h2>
                                <div class="details">       صورة   دم كاملة ...</div>
                                <a href="packages/detailsa9bc.html?id=19" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/HRLVv2uo8bQffszLb-RBgsKAcBp4nA4r_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/detailse5cc.html?id=20">تحليل للكحوليات</a></h2>
                                <div class="details">
  الكحوليات
  في الدم ...</div>
                                <a href="packages/detailse5cc.html?id=20" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                            <div class="single-package">
                            <div class="img-area">
                                <img src="storage/web/source/1/s_55Df9V_bcmAY-UclzeP1xyRSPLIKWt_thumb.png" alt="">
                            </div>
                            <div class="details-area">
                                <h2><a href="packages/details6258.html?id=21">(تحليل للمخدرات (3 مستويات </a></h2>
                                <div class="details">(تحليل للمخدرات (3 مستويات  ...</div>
                                <a href="packages/details6258.html?id=21" class="more">عرض التفاصيل</a>
                            </div>
                        </div>
                                    </div>
            </div>
        </div>

        <a href="packages/index.html" class="btn">
            جميع الباقات
        </a>
    </div>
</section>
<!-- End Packages -->


<!-- Start Partners -->
<section id="partners">
    <h2>شركاؤنا</h2>
    <div class="container">
        <div class="partnersContainer">
            <div class="owl-carousel owl-carousel-partners owl-theme">
            <!-- <div style="text-align:center"> -->
                                                            <div class="item">
                            <img src="storage/web/source/1/XJ2vHygFGJ6X87o0e2-uy5A6hEuYD9if.jpg" alt="المختبر ">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/MO0BmdYMMp2pbRW11BpY0k6RQHewYkUm.jpg" alt="لايف لاب">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/LpwGZzIOovwbuDBZfZVYrc9z3Bc4oEO0.jpg" alt="Town lab">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/_w2odiDaWh6jQeTe_RFKMw2JRCqnfvnb.jpg" alt="معمل الشمس">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/SVKVSgCnRw0LAu5YQ06uJshUE-Xl2ZAj.jpg" alt="thara">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/m-6GVtDsWykzao-1VDpd6nrC7-tzFnjJ.jpg" alt="speed lab">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/rvZgXV28GLSGIG0Tq2I7Cy7rhTFoe0o3.jpg" alt="capital scan">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/H9yzLc8x_Ft9xJTHWTUYXExLRRc3jFGx.jpg" alt="ايجيبت لاب">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/R94GNVVlyG20HHsRm5oJZ7aQTLehUEUM.jpg" alt="METALAB">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/2Aq9qNexTj_k_XqaedDpw2lb-okBtInU.jpg" alt="TECNOSCAN">
                        </div>
                                            <div class="item">
                            <img src="storage/web/source/1/pozABABDq0lWHSu7A779aZKiqOziBESi.jpg" alt="royal lab">
                        </div>
                                                </div>
        </div><!--end of partnersContainer-->
    </div>
</section>
<!-- End Partners -->


    
    <!-- Start Footer -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="social">
                        <div class="logo text-right">
                            <img src="img/logo_alt.svg">
                        </div>
                        <ul>
                            <!-- <li class="google">
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li> -->
                            <li class="facebook">
                                <a href="../www.facebook.com/Youspital/index.html" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="link">
                        <h3>المستخدمين</h3>
                        <a href="user/sign-in/signup.html">
                            <i class="fas fa-arrow-left"></i>
                            تسجيل حساب جديد
                        </a>
                        <a href="user/sign-in/login.html">
                            <i class="fas fa-arrow-left"></i>
                            تسجيل دخول
                        </a>
                        <a href="doctors/sign-in/login.html">
                            <i class="fas fa-arrow-left"></i>
                            دخول الاطباء
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="link">
                        <h3>روابط اضافية</h3>
                        <a href="page/privacy.html">
                            <i class="fas fa-arrow-left"></i>
                            سياسة الخصوصية
                        </a>
                        <a href="page/privacy.html">
                            <i class="fas fa-arrow-left"></i>
                            شروط الاستخدام
                        </a>
                        <a href="page/refund.html">
                            <i class="fas fa-arrow-left"></i>
                            Refund / Return / Cancellation Policy
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="link">
                        <h3>عن يوسبيتال</h3>
                        <a href="page/about.html">
                            <i class="fas fa-arrow-left"></i>
                            من نحن
                        </a>
                        <a href="site/contact.html">
                            <i class="fas fa-arrow-left"></i>
                            اتصل بنا
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="rights text-center">
                <p>
                    All rights reserved &copy;2019 Youspital
                </p>
            </div>
        </div>
    </section>
    <!-- End Footer -->
</div>
<!-- End Footer -->


  
<div class="fb-customerchat"
 page_id="321630208544305"
 minimized="true">
</div>

<script src="assets/314f17dc/jquery.js"></script>
<script src="js/home_searchf700.js?v=1.0.1"></script>
<script src="js/jquery.backstretchf700.js?v=1.0.1"></script>
<script src="assets/384cc180/yii.js"></script>
<!--[if lt IE 9]>
<script src="/assets/7e8b585a/dist/html5shiv.min.js"></script>
<![endif]-->
<script src="js/owl.carousel.minf700.js?v=1.0.1"></script>
<script src="js/popper.minf700.js?v=1.0.1"></script>
<script src="js/bootstrap.minf700.js?v=1.0.1"></script>
<script src="js/appf700.js?v=1.0.1"></script></body>

<!-- Mirrored from youspital.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Nov 2019 17:31:04 GMT -->
</html>
